@import '/src/style/variables.scss';

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0 25px
}

.appHeader__logo {
  color: $logo;
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
}

.navigation {
  width: 30%;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    color: $navItem;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    &:hover {
      color: $logo;
      transform: scale(1.1);
    }
  }
}


